*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif ;
}

body{
  padding: 2em;
  background: #fff;
}

header .top-header{
  display: flex;
  justify-content: space-between;
  padding: 0 10em 0 10em;
  border-bottom: solid 0.1em #dddadae9; 
}

header .top-header .logo img{
  width: 10em;
}
header .top-header .profile img{
  width: 3em;
  height: 3em;
  border-radius:50%;
}

/* Navigation */
nav {
  color: #757474;
  height: 7em;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: solid 0.1em #dddadae9; 
}
nav ul li a.active {
  color: #FFD500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

li {
  margin-right: 1em;
  position: relative;
}

a {
  color: #757474;
  text-decoration: none;
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 3em;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  width: 10em;
}

.dropdown-menu li a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

/* Hero Section */

.hero {
  position: relative;
  height: 40em;
  margin-top: 3em;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3.5rem;
  color: #F1B91A;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Programs */
.programs{
  margin-top: 5em;
}
.programs h1{
 text-align: center;
 color: #FFD500;
 margin-bottom:3em ;
}
.programs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6em 0 6em;
}

.program-card {
  width: 25%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-icon {
  width: 20%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e2e0e041;
  border-radius: 100%;
  padding: 2em;
}
.image-icon img { 
   border-radius: 100%;
   display: flex;
   align-items: center;
   background: #e2e0e071;
   padding: .2em;
}

.program-details {
  padding: 1em;
}

.program-details h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #333;
}

.program-details p {
  font-size: 1em;
  margin-bottom: 1em;
  color: #a7a4a4;
  text-align: center;
}
.program-details a{
  color: #FFD500;
  font-weight: 600;
  text-align: center;
}

.program-card a::after {
  content: '\2192'; /* Unicode value for right arrow */
  margin-left: .5em;
}


@media screen and (max-width: 1200px) {
  .program-card {
    width: 23%;
  }
}

@media screen and (max-width: 992px) {
  .program-card {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .program-card {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .program-card {
    width: 100%;
  }
}

/* Our Values */
.values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em 0 6em;
  margin-top: 7em;
  /* background-color: #f5f5f5; */
}
.values h1 {
  margin-bottom:2em;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.col {
  width: calc(100% / 3 - 1em);
  background-color: #fff;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.col img {
  margin: 2em;
}

.col h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.col p {
  font-size: 1em;
  line-height: 1.5;
  color: #666;
}

/* Team */
.team{
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team h1{
  margin-bottom: 3em;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team h1 {
  text-align: center;
  color: #FFD500;
}
.team-member {
  width: 20%;
  margin: 1em;
  text-align: center;
}

.team-member img {
  width: 100%;
  /* border-radius: 50%; */
}

.team-member h3 {
  margin: 0.5em 0;
  font-size: 1.2em;
  font-weight: bold;
}
.team-member p{
  color: #FFD500;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.team .btn-team,.partners .btn-partner {
  width: 10em;
  display: flex;
  justify-content: center;
  background-color: #FFD500;
  border-radius: .5em;
  margin: 3em;
}
.btn-team a, .btn-partner a {
  color: #fff;
}

.partners{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em 0 6em;
  margin-top: 7em;
}
.partners h1{
  margin-bottom: 2em;
}
.row .col-partner{
  padding: 1em;
}

.notification{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em 0 6em;
}

.notify-desc p{
  color: #858383;
  padding: 1em;
  font-size: 1em;
}

.subscribe {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 6em 0 6em ;
}
.subscribe input{
  height: 3em;
  border-radius: .5em;
}
.email {
  width: 100%;
  border: .2em solid #a7a4a4;
  margin: 1em;
  padding: 1em;
}

#submit{
  padding: 1em;
  border-style: none;
  background: #ffd817f1;
  font-weight: 600;
}


